@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    /* border: none; */
    outline: none;
    
}

body{    
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(243deg, #FDC5C5 25.45%, rgba(242, 152, 222, 0.00) 100%), 
                linear-gradient(243deg, #FFA5A5 32.96%, rgba(255, 255, 255, 0.00) 82.03%), #F39494;
}

.form__container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form{
    max-width: 584px;
    width: 100%;
    border-radius: 10px;
    background: #FFFEFE;
    padding: 72px 95px 92px;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);    
}

.form__discription {
    text-align: center;
    margin-bottom: 47px;
}

.form__title {
    color: #333;
    font-size: 36px;
    font-weight: 700;
}

.form__text {
    color: #666;
    font-size: 18px;
    display: inline-block;
    margin-right: 6px;
}

.form__link {
    color: #089FE0;    
    font-size: 18px;
}

.form__group {
    max-width: 394px;
    width: 100%;
    display: flex;
    flex-direction: column; 
    gap: 22px; 
}

.form__group-item {
    position: relative;
    width: 100%;   
}

 .label{    
    position: absolute;
    top: 9px;
    left: 11px;
    color: #999;    
    font-style: italic; 
    transition: .3s ease-in-out;
}

.bold {
    color: #333;    
    font-weight: 600;
    font-style: normal;
}

.form__input[name^='company'] {
    border: 1px solid #F5F5F5;
    background: #fff;
}

.form__input {
    padding: 2px;
    background: #F5F5F5;    
}

.form__inner-wrapper {
    display: flex;
    gap: 1px;
}

.form__input,
.btn  {
    border-radius: 5px;
    width: 100%;
    min-height: 44px;
}

.form__input:focus  + .label,
.form__input:valid  + .label {
    font-size: 12px;
    top: -50%;    
    pointer-events: none;
}


.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 56px;
    background-color: #089FE0;
    border: none;
    outline: none;  
    color: #FFF;
    cursor: pointer;
    font-size: 18px;
    padding: 0 22px 0 102px;
}


.checkbox__label {
    color: #666;
    font-size: 14px;
    margin-right: 13px;
}

.checkbox__link {
    color: #089FE0;
    font-size: 14px;
    text-decoration: none;
}