@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
}

a {
    font-size: 16px;
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;    
    color: #fff;
}

.wrapper {    
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: linear-gradient(180deg, #374151 0%, #111827 100%);
    
}
.container {
   max-width: 1100px;   
   margin: 0 auto;
   padding: 5px 10px;
}

.header {
    padding-top: 71px;
}

.header__inner  {
    display: flex;
    justify-content: space-between; 
    
}

.header__inner-menu {
    display: flex;
    align-items: center;
    gap: 11px;
}

.header__logo {
    max-width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    border-radius: 3px;
    background: #4B5563;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.15);
}

.nav__list {
    display: grid;
    grid-template-columns: repeat(4, auto);
    
}

.row-1 {
    margin-right: 77px;
}

.row-2 {
    margin-right: 52px;
}

.row-3 {
    margin-right: 39px;
}

.form__search {
    max-width: 224px;
    width: 100%;
    height: 40px;
    position: relative;
}

.input__search {
    width: 100%;
    border-radius: 100px;
    background: rgba(31, 41, 55, 0.60);
    outline: none;
    border: none;
    padding: 9px 10px 12px 49px; 
    color: #fff;   
}

.input__search::placeholder {
    color: #fff;
    opacity: 0.6;
    font-family: Roboto;
    font-size: 16px;
}

.btn__search {
    position: absolute;
    top: 50;
    bottom: 12px;
    left: 18px;
    background: transparent;
    border: none;
    outline: none;
    
}

.img__search {

}

.main {    
    flex-grow: 1;
}

.color-theory {
    text-align: center;
    padding-top: 70px;
    
}

.color-theory__date {
    text-align: center;
    color: rgba(255, 255, 255, .6);
    margin-bottom: 14px;
}

.color-theory__date span{
    text-transform: uppercase;
}

.color-theory__title {
    text-align: center;
    max-width: 525px;
    font-size: 24px;
    line-height: 1.583333;
    margin: 0 auto 30px;
}

.color-theory__avatar-wrapper {
    display: flex;
    justify-content: center;    
    gap: 16px;
    margin-bottom: 31px;
}

.color-theory__discription {
    text-align: left;
}

.color-theory__discription-title {
    font-size: 16px;    
    font-weight: 400;
    line-height: 28px;
}

.color-theory__discription-text {
    color: rgba(255, 255, 255, .6);
}

.article {
    max-width: 708px;
    padding-top: 70px;
    margin: 0 auto; 
    text-align: left;   
}

.article > p:nth-child(1){
    font-size: 20px;
}

.article > p:not(:last-child){
    margin-bottom: 44px;
}

.footer {
    background: #121928;
    padding: 93px 77px;
    text-align: center;
    color: rgba(255, 255, 255, .6);
}